.main-container {
  height: 100%;
}

.container-bookings{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

p {
  margin-bottom: 0.5rem;
}

h1 {
text-align: center;
}

.card-booking {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 400px;
  margin: 16px ;
  justify-self: center;
  border-radius: 7px;
}

.card-booking > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-booking h1 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  // text-align: center;
}

.card-booking h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.card-booking p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  width: 100%;
}

.card-booking .card-booking-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-booking-infos .card-booking-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

.main-container-bookings {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-direction: columns;
  position: relative;
}
