// Import page-specific CSS files here.
@import "home";
@import "bike_show";
@import "bike_new";

@import "booking_index";

@import "booking_show";
@import "booking_edit";

body {
  min-height: calc(100vh - 50px);
  position: relative;
}

.bikes-container {
display : flex;

}

.card-bike {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 400px;
  margin: 16px ;
  border-radius: 7px;
}

.card-bike > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-bike h1 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.card-bike h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.card-bike p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  width: 100%;
}


.card-bike .card-bike-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: columns;
  position: relative;
}

.card-bike-infos .card-bike-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

