<h1>My booking</h1>
  <p>Bike size : <%= @booking.bike.size%></p>
  <p>Start date : <%= @booking.start_date%></p>
  <p>End date : <%= @booking.end_date%></p>
  <input type="submit" value="Edit" class="btn btn-success mt-2" style="width: 30%">


