<!-- <div class="home-banner">
  <h1>Rent a bike</h1>
</div> -->

<div class="banner">
  <div class="container">
    <h1 class="text-left"><strong>Rent a bike</strong></h1>
    <p class="mb-5">A new way to get a bike anytime and anywhere</p>
    <%= link_to 'Select one', bikes_path, class: 'btn btn-flat' %>
    <%= link_to 'My bikes', owner_bikes_path, class: 'btn btn-flat ml-5' %>
  </div>
</div>
