  <div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-basic" >
      <ul class="list-inline">
        <li class="list-inline-item"><a href="#" class="footer-link">Home</a></li>
        <li class="list-inline-item"><a href="#" class="footer-link">Services</a></li>
        <li class="list-inline-item"><a href="#" class="footer-link">About</a></li>
        <li class="list-inline-item"><a href="#" class="footer-link">Privacy Policy</a></li>
      </ul>
    </div>
    <div class="footer-copyright">
      Join us on our social networks <i class="fas fa-heart"></i>
    </div>
  </div>