.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
.map {
width: 30%;
height: 100vh;
position: sticky !important;
top: 0;
border-radius: 7px;
}

.cards {
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
