.navbar-rent-a-bike {
justify-content: space-between;
background: white;
background-color: transparent;
transition: 0.5s background-color ease;
}

.navbar-rent-a-bike .navbar-collapse {
flex-grow: 0;
}

.navbar-rent-a-bike .navbar-brand img {
  width: 65px;
}

.navbar-rent-a-bike-white {
  background-color: white;
}